{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viktorina yaratish</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="quiz-container">
        <h2>Yangi Viktorina Yarating</h2>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="creator_name" class="form-label">Ismingiz:</label>
                <input type="text" name="creator_name" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success w-100">Yaratish</button>
        </form>
    </div>
</body>
</html>
